<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Key_Api</title>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> -->
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
  <style>

  </style>
</head>

<body>
  {% block main %}
    <h1 class="text-center text-primary">Por implementar</h1>
  {% endblock %}

  <footer class="row mt-4">
    <div class="col-12 md-12 mt-5">
      <p class="text-center bg-primary text-white">  Api rest Project with database MySql </p>        
    </div>
  </footer>

  {% block scripts %}
    <script>
      console.log('Esto viene del template base');
  </script>
  {% endblock %}
</body>

</html>