{% extends 'base.html' %}

{% block main %}

<h2>Api-Rest-Mysql</h2>
<ul>
  <li>See all The employees: </li>
  <p><i>/api/v1/employees</i></p>
  <li>See one employee: </li>
  <p><i>/api/v1/employee/nº id</i></p>

  <li>Add a employee: key by email <a href="/get_key" class="btn btn-success" type="submit">Get_key</a></li>

  <form action="/get_key" method="post" hidden id="form_key">
    <div class="mt-2">
      <input type="email" class="form-control" name="email" placeholder="your_email">
    </div>
    <div class="text-end mt-4">
      <button type="submit" class="btn btn-info">Get a key</button>
    </div>
  </form>

  <p><i>/api/v1/add/ <b> key </b></i></p>
  <p>body {"name":"nombre", "salary": number}</p>
  <p>one employee by key</p>

  <li>Update a employee: </li>
  <p><i>/api/v1/update/nº id</i></p>
  <li>Delet a employee: </li>
  <p><i>/api/v1/delete/nº id</i></p>
  <p>only new employees</p>
</ul>

<script>
  const get_key = () => {
    let form_email = document.querySelector('#form_key')
    form_email.toggleAttribute('hidden')
    console.log('get_key')
  }
</script>
{% endblock %}